@page
@model Bank.Pages.UsersAuths.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UsersAuth</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsersAuth.id" />
            <div class="form-group">
                <label asp-for="UsersAuth.username" class="control-label"></label>
                <input asp-for="UsersAuth.username" class="form-control" />
                <span asp-validation-for="UsersAuth.username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsersAuth.password" class="control-label"></label>
                <input asp-for="UsersAuth.password" class="form-control" />
                <span asp-validation-for="UsersAuth.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsersAuth.created_at" class="control-label"></label>
                <input asp-for="UsersAuth.created_at" class="form-control" />
                <span asp-validation-for="UsersAuth.created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
